.cards {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, max-content);
  gap: 3rem 2.5rem;
  margin: 0 0 5rem;
}

@media screen and (max-width: 1270px) {
  .cards {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, max-content);
    grid-gap: 3rem 2rem;
  }

}

@media screen and (max-width: 1020px) {
  .cards {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, max-content);
    gap: 3rem 1.75rem;
  }
}

@media screen and (max-width: 760px) {
  .cards {
    grid-template-columns: minmax(min-content, max-content);
    gap: 2rem;
    margin-bottom: 3.125rem;
  }
}
