.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1rem;
  margin: 0 auto 5.75rem;

}

@media screen and (max-width: 1029px) {
  .photo-grid {
    margin: 0 3rem 5.75rem;
    padding: 0;
  }
}

@media screen and (max-width: 770px) {
  .photo-grid {
    margin: 0 1.5rem 5.5rem 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 325px) {
  .photo-grid {
    margin: 0 1rem 4rem 1rem;
    padding: 0;
    gap: .75rem;
  }
}