.cards__paragraph {
  margin: 0 0 1.625rem;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: calc(29 / 18);
}

.cards__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .cards__paragraph {
    font-size: 1rem;
    line-height: calc(26 / 16);
  }
}

@media screen and (max-width: 325px) {
  .cards__paragraph {
    padding: 0 1rem;
  }
}
