.lead {
  max-width: 984px;
  margin: 3.5rem auto 0;
  padding: 0;
}

@media screen and (max-width: 1029px) {
  .lead {
    max-width: 928px;
    margin:0 3rem;
  }
}

@media screen and (max-width: 770px) {
  .lead {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 325px) {
  .lead {
    max-width: 320px;
    margin: 0;
  }
}
