.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 1.69rem auto 3.56rem;
}

@media screen and (max-width: 1029px) {
  .header {
  margin: 1.75rem 3rem 3rem;
  }
}

@media only screen and (max-width: 770px) {
  .header {
    margin: 1.75rem 1.5rem 3rem;
  }
}

@media screen and (max-width: 325px) {
  .header {
    max-width: 18rem;
    margin: 1rem 1rem 3rem;
  }
}