.cards__title {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: calc(76 / 72);
}

@media screen and (max-width: 770px) {
  .cards__title {
    font-size: 2.625rem;
    line-height: calc(46 / 42);
  }
}

@media screen and (max-width: 325px) {
  .cards__title {
    font-size: 2rem;
    line-height: calc(35 / 32);
    padding: 0 1rem;
  }
}