.cover__background {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/cover-GD.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  min-height: 46.25rem;
  background-size: cover;
}

.cover__background:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  transition: opacity .2s linear;
}

.cover__background:hover:after {
  opacity: .8;
}

@media screen and (max-width: 1029px) {
  .cover__background {
    min-height: 40rem;
  }
}

@media screen and (max-width: 770px) {
  .cover__background {
    min-height: 30rem;
  }
}

@media screen and (max-width: 325px) {
  .cover__background {
    min-height: 12.5rem;
  }
}