.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 1.5rem;
}

@media screen and (max-width: 1270px) {
  .footer {
    margin: 0 3rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
  margin: 0 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 7.375rem 1.5rem 1rem;
    flex-direction: column;
  }
}